@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		margin: 0;
		padding: 0;
		font-family: "Open Sans", sans-serif;
	}
	.trivago-container {
		@apply w-[85vw] xl:w-[95vw] m-auto;
	}
	.nav-heading {
		@apply text-7xl font-bold lg:text-6xl md:text-5xl sm:text-4xl xs:text-3xl text-black filter drop-shadow-lg;
	}
	.btn {
		@apply shadow-lg rounded-full text-lg sm:text-sm px-9 py-1.5 transition-all duration-200 active:scale-90 sm:w-48;
	}
	.button-emerald {
		@apply bg-gradient-to-b from-emerald-500 to-green-500 shadow-emerald-500 text-white;
	}
	.button-light {
		@apply bg-gradient-to-b from-white to-slate-100 shadow-slate-200 text-black;
	}
	.drop-shadow-emerald {
		filter: drop-shadow(0.1rem, 0.1rem, 1rem rgba(74 222 128 / 80%));
	}
	.showpopup {
		opacity: 1;
		visibility: visible;
		transform: skewY(0deg) translateY(10px);
	}
	.nopopup {
		opacity: 0;
		visibility: hidden;
		transform: skewY(3deg) translateY(-30px);
	}
}
